{% extends "base_generic.html" %}

{% load static %}
{% load auth_extras %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  {% if not request.user|has_group:"Member" %}
      <div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddPostModal">
            Add Post
          </button>
      </div>
  {% endif %}
</div>


<div class="row">

  {% if post_list %}
  <dl class="dl-horizontal">

    {% for post in post_list %}
        
        {% if request.user|has_group:"Member" %}
          {% if post.status != "d" %}
            <dt>
              <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </dt> 
            <dd>
              {{post.body}}
            </dd>
          {% endif %}
        {% else %}
          <dt>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          </dt> 
          <dd>
            {{post.body}}
          </dd>
        {% endif %}

    {% endfor %}

  </dl>


  {% else %}
    <p>There are no posts.</p>
  {% endif %}

</div> 

<div class="row">

  {% include "blog/components/pagination.html" %}

</div> 

<div class="row">
  <p>The blog has the following record counts: 
  {% if post_list %} 
    {{ page_obj.paginator.count }} post{{ page_obj.paginator.count|pluralize }} 
  {% else %}
    0 posts
  {% endif %} 
  </p>
</div>

<div class="row">
  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
</div>
<!-- Add Post Modal -->
<form class="modal fade" id="AddPostModal" tabindex="-1" role="dialog" aria-labelledby="AddPostModalLabel" aria-hidden="true"  method="post" action="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           {% csrf_token %}
           {{ form|crispy }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Submit" class="btn btn-primary" />
      </div>
    </div>
  </div>
</form>

{% endblock %}
