{% extends "base_generic.html" %}

{% load auth_extras %}

{% block content %}

<h1>Title: {{ post.title }}</h1>
    
<div>
    <p><strong>Author:</strong> {{ post.author }}</p>
    <p><strong>Body:</strong> {{ post.body }}</p>
    <p><strong>Published:</strong> {{ post.created }}</p>
    <p><strong>Tags:</strong>
        {% if post.tags.all %}
          {% for tag in post.tags.all %} 
                <a href="{% url 'tag-detail' tag.slug %}">{{ tag.name }}</a> 
          {% endfor %}
        {% else %}
          <p>There are no tags.</p>
        {% endif %} 

    {% if not request.user|has_group:"Member" %}
        <div class="row">
            <div class="col-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditPostModal">
                  Edit
                </button>
            </div>
            <div class="col-1">
                <form action="{% url 'post-delete' id=post.id %}" method="post">
                   {% csrf_token %}
                   <button class="btn btn-danger" type="submit" >Delete<i class="post-delete"></i></button>
                </form>
            </div>
        </div>
    {% endif %}

    <hr>
    <h2>Comments</h2>
    {% if comments %}
    <ul>
      {% for comment in comments %} 
        <li>
            <p><strong>Name:</strong><span id="comment_name_{{ comment.id }}"> {{ comment.name }}</span></p>
            <p><strong>Body:</strong><span id="comment_body_{{ comment.id }}"> {{ comment.body }}</span></p>
            <p><strong>Created:</strong> {{ comment.created }}</p> 
            <p><strong>Author:</strong> {{ comment.author.get_username }}</p> 
            {% if user.is_authenticated %}
                {% if not request.user|has_group:"Member" or user.id == comment.author.id %}
                    <div class="row">
                        <div class="col-1">
                            <button type="button" class="btn btn-primary" id="comment_edit_{{comment.id}}" data-toggle="modal" >
                                Edit
                            </button>
                        </div>
                        <div class="col-1">
                            <form action="{% url 'comment-delete' id=comment.id %}" method="post">
                               {% csrf_token %}
                               <button class="btn btn-danger" type="submit" >Delete<i class="comment-delete"></i></button>
                            </form>
                        </div>
                {% endif %}    
            {% else %}
                <a href="{% url django.contrib.auth.login %}">Login</a>
            {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no comments.</p>
    {% endif %}

    <hr>
    <h2>Add a comment</h2>
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddCommentModal">
          Add Comment
        </button>
    </div>

</div>


<!-- Edit Post Modal -->
{% include "blog/components/modal.html" with modal_id="EditPostModal" modal_label="EditPostModalLabel" modal_form_action_url="/blog/post/edit/"|add_str:post.id modal_form=form_edit_post modal_title="Edit Post '"|add_str:post.title|add_str:"'" %}

<!-- Add Post Modal -->
{% include "blog/components/modal.html" with modal_id="AddCommentModal" modal_label="AddCommentModalLabel" modal_form=form_add_comment modal_title="Add Comment '"|add_str:post.title|add_str:"' " %}

<!-- Edit Comment Modal loaded via ajax-->
{% include "blog/components/modal.html" with modal_id="EditCommentModal" %}

{% endblock %}